<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hello-component">
  <template>
    <style>
      :host {
        display: block;
        background-color: red;
      }
    </style>
    <h2>Mensaje: [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `hello-component`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HelloComponent extends Polymer.Element {
      static get is() { return 'hello-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'hello-component'
          }
        };
      }
    }

    window.customElements.define(HelloComponent.is, HelloComponent);
  </script>
</dom-module>