<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="posts-list">
  <template>
    <style>
      li {
        cursor: pointer;
      }
    </style>

    <ul>
      <template is="dom-repeat" items="[[posts]]" as="post">
        <li on-click="_postClicked">
          <p><h1>[[post.title]]</h1></p>
          <p><h3>[[post.body]]</h3></p>
        </li>
      </template>
    </ul>
  </template>

  <script>
    class PostsList extends Polymer.Element {
      static get is() {
        return 'posts-list';
      }

      static get properties() {
        return {
          posts: {
            type: Array,
            value: []
          }
        };
      }

      clear() {
        this.set('posts', []);
      }

      _postClicked(event) {
        const post = event.model.post;
        const detail = {
          id: post.id,
          title: this._cleanPostTitle(post.title)
        };

        this.dispatchEvent(new CustomEvent('post-selected', { detail: detail }));
      }

      _cleanPostTitle(postTitle) {
        return postTitle.replace(/\s+/g, '-').toLowerCase();
      }
    }

    customElements.define(PostsList.is, PostsList);
  </script>
</dom-module>
