<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-molecule-spinner/cells-molecule-spinner.html">

<link rel="import" href="../components/users/users-dm.html">
<link rel="import" href="../components/users/users-list.html">
<link rel="import" href="../components/hello/my-hello.html">
<link rel="import" href="../components/say/say-dp.html">

<dom-module id="users-page">
  <template>
    <style is="custom-style"></style>

    <hello-component id="hello"></hello-component>
    <say-dp id="test"></say-dp>
  </template>

  <script>
    class UsersPage extends Polymer.Element {
      static get is() {
        return 'users-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          users: {
            type: Array,
            value: []
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();

        this.$.test.addEventListener('kick', function(e){
            Cells.Bus.channel('saludo').publish(e.detail);
        });


        // We reference desired channel...
        const saludoChannel = Cells.Bus.channel('saludo');

        // Channel subscription
        saludoChannel.subscribe(this._handleAnnouncer.bind(this));
      }
      _handleAnnouncer(msg) {
        debugger;
        this.$.hello.prop1 = msg;
      }

      usersLoaded(e) {
        const users = e.detail;

        this.set('users', Object.assign([], users));
      }

      startLoad() {
        this.$.loader.removeAttribute('hidden');
      }

      finishLoad() {
        this.$.loader.setAttribute('hidden', true);
      }

      navigateToUser(e) {
        const detail = e.detail;
        const routeParams = {
          'user-id': detail.id,
          'user-name': detail.name
        };

        Cells.Router.navigate('user-posts', routeParams);
      }
    }

    customElements.define(UsersPage.is, UsersPage);
  </script>
</dom-module>
